---
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionHeader from "../components/SectionHeader.astro";
---

<BaseLayout title="My Projects">
  <main>
    <SectionHeader
      title="My Projects"
      subtitle="A showcase of my recent work and achievments."
    />
  </main>
</BaseLayout>
